h1{color:green; font-family:Matura MT Script Capitals;}
h2{margin-left:50px;}
p{color:red;}
table{background-color:red;}
ol{color:blue; font-family:Tw Cen MT;}
ul{color:purple; font-family:Viner Hand ITC;}
dl{color:darkgreen; font-family:Vivaldi;}
